.container {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-weight: bold;
  left: auto;
  padding: 10px 20px;
  position: absolute;
  right: auto;
  top: 10px;
  z-index: 100;
}
