.container {
  align-items: center;
  background: #fff;
  border-color: rgba(0, 0, 0,.05);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px 0 0 1px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0,.1);
  display: flex;
  flex-direction: column;
  left: 262px;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  min-width: 215px;
  z-index: 100;
}
.container h2 {
  font-size: 20px;
}
.container .duration {
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0,.1);
  display: inline-block;
  font-size: 24px;
  margin: 10px 0;
  padding: 6px 20px;
}
.destination {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
  text-transform: uppercase;
}
