.container {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  justify-content: center;
  max-width: 100%;
  position: relative;
  text-align: center;
}
.fullWidth {
  width: 100%;
}
