@import 'base';

html {
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}
html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*:not(i) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}
h1 {
  font-size: 24px;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
span {
  line-height: normal;
}
p {
  line-height: 150%;
}
.container {
  height: 100%;
}
.fa-xs {
  font-size: 8px;
}
.pointer {
  cursor: pointer;
}
textarea,
input {
  outline: none;
}
.visible {
  visibility: visible !important;
}
button .material-icons {
  display: inline-block;
}

// Remove the yellow background on autofilled inputs
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.ReactVirtualized__Grid {
  outline: none;
}
