.container {
  padding: 10px 20px;
  text-align: center;
}
.section {
  padding: 10px 0;
}
.sectionTitle {
  color: #666;
  display: block;
  font-size: 11px;
  margin: 6px 0 10px;
  text-transform: uppercase;
}
.container h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.container h3 {
  font-size: 20px;
}
