<!doctype html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <link href="https://cdn.muicss.com/mui-0.6.5/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDapkcR9gY9DUR7wuGX1joeF6WIFUK5EB0&libraries=places"></script>
  <% if (htmlWebpackPlugin.options.sentry_dsn) { %>
    <script src="https://cdn.ravenjs.com/3.8.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
      Raven.config('<%= htmlWebpackPlugin.options.sentry_dsn %>', {
        release: '<%= htmlWebpackPlugin.options.version %>'
      }).install()
    </script>
  <% } %>
</head>
<body>
  <div id="root" style="height: 100%"></div>
</body>
</html>
