.container {
  padding: 10px 20px;
}
.root {
  position: relative;
}
.input {
  border-radius: 2px;
  font-size: 14px;
  max-width: 100%;
  padding: 8px 12px;
  width: 100%;
}
.autocompleteContainer {
  font-size: 12px;
  padding: 6px 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.autocompleteContainer > div {
  padding: 6px 12px !important;
}
.input,
.autocompleteContainer {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 1px 0 0 1px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}
